<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    <!-- Tailwind CSS -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="max-w-[1224px] mx-auto">
    {% sections 'header-group' %}
    <main class="">
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
  </body>
</html>
