<div class="hero min-h-screen">
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">404</h1>
      <p class="mb-5">Page not found</p>
      <a href="{{ routes.all_products_collection_url }}">
        <button class="btn btn-primary">Continue shopping</button>
      </a>
    </div>
  </div>
</div>
